@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}

header{
    text-align: center;
    margin-top: 80px;
    font-family: 'Press Start 2P', cursive;
}

header img{
    margin-left: 10px;
}

.imgs{
    height: 70vh;
    display: grid;
    place-items: center;
}

